/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bold;

  margin: 0;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: .5em 0;
}

.btn {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  padding: .6em .875em;
  border-radius: 8px;
}

.btn-big {
  color: #fff;
  background-color: #333;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  width: 50%;
}

.img-logo {
  max-width: 100%;
}

.banner {
  display: flex;
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  display: flex;
  max-width: 45em;
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  padding: 1.5em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title {
  padding-left: 2em;
  width: 100%;
}

.btn:hover {
  background-color: #000;
}
